<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1>Histories</h1>
  </div>
</div>
<div class="row">
  <% @histories.each do |history| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag(history.picture.thumb), history) if history.picture? %>
        <div class="caption">
          <h3><%= history.title %></h3>
          <small><%= time_ago_in_words(history.created_at) %> ago</small>
          <p><%= history.content.truncate(150)  %></p>
        
        </div>
      </div>
    </div>
  <% end %>
</div>


<br>


